name: PnetCDF master branch only

on:
  workflow_dispatch:
    inputs:
      reason:
        description: 'Enable manual run because PnetCDF is updated more frequently'
        required: false
        default: 'Manual trigger'
  push:
    branches:
      - master
      - github_action
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - '**/*.jpg'
      - '**/*.png'
      - 'tests/*'
      - 'datasets/*'
  pull_request:
    branches: master
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'
      - '**/*.jpg'
      - '**/*.png'
      - 'tests/*'
      - 'datasets/*'

env:
   MPICH_VERSION: 4.3.2
   AUTOCONF_VERSION: 2.71
   AUTOMAKE_VERSION: 1.17
   M4_VERSION: 1.4.19
   LIBTOOL_VERSION: 2.5.4

jobs:
    build:
      runs-on: ubuntu-latest
      timeout-minutes: 60
      steps:
        - uses: actions/checkout@v4
        - name: Install autotools
          run: |
            set -x
            sudo apt-get update
            sudo apt-get install autoconf
            sudo apt-get install automake
            sudo apt-get install m4
            # sudo apt-get install libtool libtool-bin
            wget -q https://ftp.gnu.org/gnu/libtool/libtool-${LIBTOOL_VERSION}.tar.gz
            gzip -dc libtool-${LIBTOOL_VERSION}.tar.gz | tar -xf -
            cd libtool-${LIBTOOL_VERSION}
            ./configure --prefix=/usr --silent
            sudo make -s LIBTOOLFLAGS=--silent V=1 -j 8 install > qout 2>&1
            sudo make -s LIBTOOLFLAGS=--silent V=1 -j 8 distclean >> qout 2>&1
        - name: Build MPICH
          run: |
            set -x
            cd ${GITHUB_WORKSPACE}
            echo "Install MPICH on ${GITHUB_WORKSPACE}/MPICH"
            rm -rf MPICH ; mkdir MPICH ; cd MPICH
            # git clone -q https://github.com/pmodels/mpich.git
            # cd mpich
            # git submodule update --init
            # ./autogen.sh
            curl -LO https://www.mpich.org/static/downloads/${MPICH_VERSION}/mpich-${MPICH_VERSION}.tar.gz
            gzip -dc mpich-${MPICH_VERSION}.tar.gz | tar -xf -
            cd mpich-${MPICH_VERSION}
            ./configure --prefix=${GITHUB_WORKSPACE}/MPICH \
                        --silent \
                        --enable-romio \
                        --with-file-system=ufs \
                        --with-device=ch3:sock \
                        --disable-fortran \
                        CC=gcc
            make -s LIBTOOLFLAGS=--silent V=1 -j 8 install > qout 2>&1
            make -s distclean >> qout 2>&1
        - name: Dump MPICH log file
          if: ${{ failure() }}
          run: |
            set -x
            cat ${GITHUB_WORKSPACE}/MPICH/mpich-${MPICH_VERSION}/qout
            cat ${GITHUB_WORKSPACE}/MPICH/mpich-${MPICH_VERSION}/config.log
        - name: Install PnetCDF
          run: |
            set -x
            cd ${GITHUB_WORKSPACE}
            m4 --version
            autoconf --version
            automake --version
            libtool --version
            echo "Install PnetCDF on ${GITHUB_WORKSPACE}/PnetCDF"
            rm -rf PnetCDF ; mkdir PnetCDF ; cd PnetCDF
            git clone -q https://github.com/Parallel-NetCDF/PnetCDF.git
            cd PnetCDF
            autoreconf -i
            ./configure --prefix=${GITHUB_WORKSPACE}/PnetCDF \
                        --silent \
                        --disable-fortran \
                        --disable-cxx \
                        --disable-shared \
                        --with-mpi=${GITHUB_WORKSPACE}/MPICH
            make -s LIBTOOLFLAGS=--silent V=1 -j 8 install
            make -s distclean
        - name: Dump PnetCDF log file
          if: ${{ failure() }}
          run: |
            cat ${GITHUB_WORKSPACE}/PnetCDF/PnetCDF/config.log
        - name: Build and check E3SM_IO with PnetCDF only
          if: ${{ success() }}
          run: |
            set -x
            cd ${GITHUB_WORKSPACE}
            rm -rf ./test_output
            autoreconf -i
            ./configure --with-pnetcdf=${GITHUB_WORKSPACE}/PnetCDF \
                        --with-mpi=${GITHUB_WORKSPACE}/MPICH \
                        CFLAGS=-fno-var-tracking-assignments \
                        CXXFLAGS=-fno-var-tracking-assignments
            make -j 8
            make check
        - name: Dump log files if E3SM_IO with PnetCDF-only test failed
          if: ${{ failure() }}
          run: |
            set -x
            cd ${GITHUB_WORKSPACE}
            cat test.sh.log utils/*.log
        - name: Test E3SM_IO all APIs -- parallel runs
          if: ${{ success() }}
          run: |
            set -x
            make ptest
        - name: Test make distcheck
          if: ${{ success() }}
          run: |
            set -x
            make distcheck DISTCHECK_CONFIGURE_FLAGS="--with-pnetcdf=${GITHUB_WORKSPACE}/PnetCDF --with-mpi=${GITHUB_WORKSPACE}/MPICH CFLAGS=-fno-var-tracking-assignments CXXFLAGS=-fno-var-tracking-assignments"
            make distclean

